<%- title "Categories" -%>
<%- content_for(:head) do -%>
  <meta name="description" content="Articles written by Scott Bartell about <%= categories_list %>">
  <link rel="canonical" href="<%= categories_url %>">
  <meta property="og:description" content="Articles by category: <%= categories_list %>. All written by Scott Bartell">
  <meta property="og:title" content="Categories | ScottBartell.com">
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%= categories_url %>">
<%- end -%>

<section id="posts">
  <header class="main_head">
    <nav>
      <ul>
        <li><%= link_to 'articles', root_path %></li>
        <li class="active"><%= link_to 'categories', categories_path %></li>
      </ul>
    </nav>
  </header>
  <ul id="categories">
    <% for category in @categories %>
        <li class="<%= category.name %>">
          <%= link_to(category) do %>
            <%= category_title(category) %>
            <%= content_tag(:span, category.count, class: "category_count") %>
          <% end %>
        </li>
    <% end %>
  </ul>
</section>