<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= (yield(:title) && !yield(:title).empty? ? yield(:title) : 'Scott Bartell') %></title>
  <link rel="shortcut icon" href="<%= image_path('favicon.ico') %>" />
  <link rel="me" href="https://plus.google.com/u/0/109955571462751281352" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Neuton|Inconsolata|Merriweather+Sans:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta property="fb:app_id" content="<%= FACEBOOK_APP_ID %>" />
  <meta property="og:site_name" content="scottbartell.com" />
  <%- unless @post -%>
  <link rel="canonical" href="http://scottbartell.com/" />
  <meta property="og:description" content="The blog of Scott Bartell" />
  <meta property="og:title" content="scottbartell.com" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://scottbartell.com/" />
  <%- end -%>
  <%= yield(:head) -%>
</head>
<body<%= yield(:body_class) && !yield(:body_class).empty? ? %Q{ class="#{yield(:body_class)}"}.html_safe : '' %>>
  <%= yield :pre_content unless controller.action_name == "home" %>
  <%= yield %>
  <%= yield :post_content unless controller.action_name == "home" %>
  <%= yield :end %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2112660-3']);
  _gaq.push(['_setDomainName', 'scottbartell.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
